/* Container */
.container {
	padding-bottom: 100px;
	width: 900px;
}

/* Forms */
.form-control {
	width: 200px;
}

/* Sketchboard */
.gridtable {
	width: 800px;
	height: 800px;
	padding-top: 100px;
}

/* Error message */
.error {
	width: 500px;
	display: none;
}

/* Settings for each block */
.gridblock {
	float: left;
	outline: 1px solid black;
}
.gridrow {
	clear: left;
}

/* Color of ink */
.highlight {
	background-color: black;
}